# התעלמות מתיקיות סביבה וירטואלית
.venv/
venv/
env/

#
final_plan_verified.md

# התעלמות מקבצי קונפיגורציה או קבצים זמניים של Python
__pycache__/
*.pyc

# קבצי מערכת והגדרות אישיות של עורך הקוד
.vscode/
.idea/
.DS_Store